@{
    ViewData["Title"] = "Slider Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Slider
<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <form asp-controller="Slider" asp-action="Update" method="post" enctype="multipart/form-data">
                <input type="hidden" name="SliderId" value="@Model.SliderId">
                <input type="hidden" name="Image.ImageId" value="@Model.ImageId">
                <div class="mb-3">
                    <label class="form-label" for="ImageName"></label>
                    <input for="ImageName" class="form-control" value="@Model.Image.ImageName">
                    <img src="~/@Model.Image.FullPath/@Model.Image.ImageName" width="150"
                        alt="@Model.Image.ImageName">
                </div>
                <div class="mb-3 mt-4">
                  <div id="gizle" class="btn btn-outline-secondary">Gizle/Göster</div>
                    <div class="row" id="gallery">
                        @if (ViewBag.Images != null)
                        {
                           @foreach (var item in (List<Image>)ViewBag.Images)
                            {
                            <div class="form-check col-md-2">
                                <input class="form-check-input" type="checkbox" name="imgId" value="@item.ImageId" id="img_@item.ImageId"
                                @(Model.Image.ImageId==item.ImageId?"checked":"")>
                                <label class="form-check-label" for="img_@item.ImageId">
                                    <img class="img-fluid" src="~/@item.FullPath/@item.ImageName" alt="@item.ImageName">
                                </label>
                            </div>
                            }
                        }
                    </div>
                    <div class="row" id="tekli">
                        <input type="file" name="file" id="file" class="form-control">
                    </div>
                </div>
                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" @(Model.isHome?"checked":"") id="isHomeBool"
                        name="isHomeBool">
                    <label class="form-check-label" for="isHomeBool">
                        Anasayfada mı? </label>
                </div>
                <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>