@{
    ViewData["Title"] = "Projeler Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<Project>
<div class="col-md-12 mt-2 border border-primary">
    <div class="title-text text-center row mb-1">
        <div class="col-md-9">
            <h2 style="display:inline">Projeler</h2>
        </div>
        <div class="col-md-3"> <a href="/Admin/Project/Create/" class="btn btn-success me-2 btn-md">Yeni</a>

        </div>
    </div>
    <table class="table table-bordered table-hover table-text admin">
        <thead>
            <tr class="text-center">
                <th scope="col" style="width:3%">#</th>
                <th scope="col">Resim</th>
                <th scope="col">Başlık</th>
                <th scope="col" style="width:40%">Metin</th>
                @* <th scope="col">Kategoriler</th> *@
                <th scope="col">isDone</th>
                <th scope="col">isHome</th>
                <th scope="col" style="width: 25%;">İşlemler</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <th scope="row">@project.ProjectId</th>
                    <td>@project.CoverImage</td>
                    <td>@project.Title</td>
                    <td>@project.Text</td>
                    @* <td>
                        @foreach (var item in project.CategoryList)
                        {
                        <td>@item.CategoryName</td>
                        <td>@item.CType</td>
                        }</td> *@
                    <td>@project.isDone</td>
                    <td>@project.isHome</td>
                    <td class="d-flex justify-content-center">
                        <a href="/Admin/Project/Update/@project.ProjectId"
                        class="btn btn-info text-light me-2 btn-md">Düzenle</a>
                        <a href="/Admin/Project/Delete/@project.ProjectId" class="btn btn-danger btn-md">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>