@{
    ViewData["Title"] = "Kategori Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Category
<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Category" asp-action="Update" method="post">
                <input type="hidden" name="CategoryId" value="@Model.CategoryId">
                <div class="mb-3">
                    <label class="form-label" asp-for="CategoryName"></label>
                    <input asp-for="CategoryName" class="form-control" value="@Model.CategoryName">
                    <span asp-validation-for="CategoryName"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="CType"></label>
                    <input asp-for="CType" class="form-control" value="@Model.CType">
                    <span asp-validation-for="CType"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Filter"></label>
                    <input asp-for="Filter" class="form-control" value="@Model.Filter">
                    <span asp-validation-for="Filter"></span>
                </div>
                @* <div class="mb-3">
                    <label class="form-label" asp-for="ProjectCategories"></label>
                    @foreach (var item in @Model.ProjectCategories)
                    {
                    burayı hallet sonra.
                    }
                    </div>
                *@
                <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>