@model Project
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.Images.Count; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@(i)"
                        class='@(i==0?"active":"")' aria-current="true" aria-label="Slide @(i+1)"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @foreach (var res in Model.Images.Select((item, index) => new { item, index }))
                    {
                        <div class='carousel-item @(res.index==0?"active":"")'>
                            <img src="~/assets/@res.item.Path/@res.item.ImageName" class="d-block w-100"
                            alt="@res.item.ImageName">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-8">
            <h2> @Model.Title</h2>
            <p>
                @Model.Text
            </p>
        </div>
    </div>
</div>