@* @model List<MenuItem> *@
@model MenuSubMenuViewModel

<header class="header-area">
    <div class="main-menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="brand">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

                <ul class="navbar-nav">
                    @foreach (var item in Model.MenuItems)
                    {
                        @if (item.Link == "#")
                        {
                            var children = Model.SubMenus.FindAll(c => c.MenuItemId == item.MenuItemId).ToList();
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="@item.Link" id="navbarDarkDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="true">@item.MenuItemName</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    @foreach (var dditem in children)
                                    {
                                        <li><a class="dropdown-item" href="@dditem.Link">@dditem.SubMenuName</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li
                        class="nav-item @(ViewBag.Selected!=null && item.MenuItemName.ToLower()==ViewBag.Selected.ToLower()?"active":"")">
                                <a class="nav-link" href="@item.Link">@item.MenuItemName</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </div>
</header>

@section Scripts {
<script src=" /modules/jquery/dist/jquery.min.js">
</script>
<script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}