@model List<MenuItem>

<header class="header-area">
    <div class="main-menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="brand">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    @{
                        var count = 0;
                    }
                    @foreach (var item in Model)
                    {
                        @if (item.ParentId == null && item.MenuItemName.ToLower() != "projeler")
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@item.Link">@item.MenuItemName</a>
                            </li>
                        }
                        else
                        {
                            if (count == 0)
                            {
                                var parent = Model.Where(x => x.MenuItemId == item.ParentId).FirstOrDefault();
                                @if (parent != null)
                                {
                                    var children = Model.Where(x => x.ParentId == parent.MenuItemId).ToList();
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="@parent.Link" id="navbarDarkDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="true">@parent.MenuItemName</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            @foreach (var dditem in children)
                                            {
                                                <li><a class="dropdown-item" href="@dditem.Link">@dditem.MenuItemName</a></li>
                                            }
                                        </ul>
                                    </li>
                                    count = 1;
                                }
                            }
                        }
                    }
                </ul>

                @* <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="/">ANASAYFA</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/home/hakkimda">HAKKIMDA</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="true">PORTFOLIO</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/project/projeler">PROJELER</a></li>
                    <li><a class="dropdown-item" href="/project/taslak">TASLAKLAR</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/iletisim">İLETİŞİM</a>
                    </li>
                    </ul> *@
            </div>
        </nav>
    </div>
</header>

@section Scripts {
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}