@{
    ViewData["Title"] = "Resim Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Image
<div class="container mt-4 pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Image" asp-action="Update" method="post" enctype="multipart/form-data">
                <input type="hidden" name="ImageId" value="@Model.ImageId">
                <div class="mb-3">
                    <label class="form-label">@Model.ImageName</label>
                    <img src="~/@Model.FullPath/@Model.ImageName" alt="@Model.ImageName" width="300">
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="portfolio" value="portfolio"
                            @(ViewBag.Folder.ToString().EndsWith("portfolio")?"checked":"")>
                        <label class="form-check-label" for="portfolio">
                            Projeler
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="ides" value="ides"
                            @(ViewBag.Folder.ToString().EndsWith("ides")?"checked":"")>
                        <label class="form-check-label" for="ides">
                            Slider
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="clients" value="clients"
                            @(ViewBag.Folder.ToString().EndsWith("clients")?"checked":"")>
                        <label class="form-check-label" for="clients">
                            Testimonial
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="services" value="services"
                            @(ViewBag.Folder.ToString().EndsWith("services")?"checked":"")>
                        <label class="form-check-label" for="services">
                            Servisler
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="folder" id="else" value="else"
                            @(ViewBag.Folder.ToString().EndsWith("img")?"checked":"")>
                        <label class="form-check-label" for="else">
                            Diğer
                        </label>
                    </div>
                </div>
                @* upload ;) *@
                <div class="row" id="tekli">
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
    </div>
</div>