@model MainViewModel
@{
    ViewData["Title"] = "Anasayfa";
}


    <section class="site-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12 site-title">
                    <h1 class="title-text text-uppercase">Ben Batuhan.</h1>
                    <h4 class="title-text">Yazılım geliştiriciyim.</h4>
                    <div class="side-buttons">
                        <div class="d-flex flex-row flex-wrap">
                            <button type="button" class="btn button primary-button">İletişim</button>
                            <button type="button" class="btn button secondary-button ml-4">Hakkımda</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 banner-img">
                    <img src="~/assets/img/banner-image.png" alt="banner" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    @* end banner *@
    @* start ide section*@
    <section class="brand-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="ide-area">
                        <div class="ide-title text-center mb-2">
                            <h2 class="letterspaced">
                                <span>ÇALIŞTIĞIM ORTAMLAR</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="first-row row">
                        <div class="container carousel py-lg-4">
                            <div class="owl-carousel owl-theme">

                                @foreach (var item in Model.Sliders)
                                {
                                    <div class="col">
                                        <div class="single-brand">
                                            <img src="~/assets/img/ides/@item.Image" alt="@item.Image">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @* end ide section*@
    @* start services section*@
    <section class="services-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center services-title">
                    <h1 class="letterspaced">SERVİSLER</h1>
                    <p class="para">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt eveniet eum perspiciatis
                        harum corrupti?
                    </p>
                </div>
            </div>
            <div class="container services-list">
                <div class="row">
                    @foreach (var item in Model.Services)
                    {
                       @if (item.isHome==true)
                       {
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="services">
                            <div class="services-img text-center py-4">
                                <img src="~/assets/img/prog.png" width="75px" alt="services1">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase">@item.Title</h5>
                                <p class="card-text text-secondary">
                                    @item.Text</p>
                            </div>
                        </div>
                    </div>
                       }
                    }
                </div>
            </div>
        </div>
    </section>
    @* end services section*@
    @* start clients section*@
    <section class="client-area">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="client-title">
                        <h1 class="letterspaced title-h1">MÜŞTERİ YORUMLARI</h1>
                        <p class="para">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime assumenda voluptates
                            adipisci dolore quis blanditiis neque iusto consequatur ratione repudiandae?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container carousel py-lg-4">
            <div class="owl-carousel owl-theme">
                @foreach (var item in Model.Testimonials)
                {
                    <div class="client row">
                    <div class="col-lg-4 col-md-12 client-img">
                        <img src="~/assets/img/clients/@item.Image" alt="img-1" class="img-fluid">
                    </div>
                    <div class="col-lg-8 col-md-12 about-client">
                        <h4 class="text-uppercase">@item.Title</h4>
                        <p class="para">@item.Text</p>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    @* end clients section*@

